.header {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../images/header-background-mob.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 100vh;

  @include onDesktop {
    background-image: url('../images/header-background-mob.avif');
    min-height: 734px;
    height: max-content;

    display: grid;

    padding-bottom: 150px;
  }

  &__nav {
    margin-bottom: 45px;

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__content {
    @include onDesktop {
      align-self: flex-end;
      justify-self: flex-start;
  
      max-width: 683px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;

    color: $page-pink-color;

    margin-bottom: 20px;

    @include onDesktop {
      font-size: 32px;
      line-height: 44px;

      margin-bottom: 58px;
    }
  }

  & p {
    font-weight: 500;
    line-height: 26px;

    color: $page-gray-color;

    margin-bottom: 50px;

    @include onDesktop {
      max-width: 493px;

      margin-bottom: 43px;
    }
  }
}