.iletişim {
  padding-bottom: 25px;

  @include onDesktop {
    padding: 80px 0 55px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onDesktop {
      flex-direction: row;
      gap: 60px;
    }
  }

  &__picture {
    display: none;

    @include onDesktop {
      display: block;
    }
  }

  &__section-title {
    margin-bottom: 24px;

    @include onDesktop {
      margin-bottom: 30px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;

    margin-bottom: 15px;

    @include onDesktop {
      min-width: 598px;
      margin-bottom: 55px;
    }
  }

  &__input {
    height: 58px;
    border: none;
    width: 100%;

    line-height: 58px;
    color: $page-dark-blue-color;

    padding: 0 17px;

    &[type="text"] {
      margin-bottom: 20px;
    }

    &[type="email"] {
      margin-bottom: 13px;
    }

    &[type="tel"] {
      margin-bottom: 24px;
    }

    &::placeholder {
      color: $page-dark-blue-color;
      text-transform: uppercase;
    }
  }

  &__textArea {
    height: 120px;
    border: none;
    width: 100%;

    resize: none;

    line-height: 58px;
    color: $page-dark-blue-color;

    margin-bottom: 35px;
    padding: 31px 17px;

    &::placeholder {
      color: $page-dark-blue-color;
    }

    // @include onDesktop {
    //   margin-bottom: 25px;
    // }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 0 10px;

    color: $page-dark-blue-color;
    line-height: 28px;

    @include onDesktop {
      max-width: 445px;
      margin: 0 auto;
      padding: 0;
    }
  }

  &__contacts-top {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include onDesktop {
      flex-direction: row;
      gap: 40px;
    }
  }

  &__phone {
    @include onDesktop {
      order: -1;
    }
  }
}