.section-about {
  line-height: 22px;

  color: $page-dark-blue-color;

  &--pink-hover {
    &:hover {
      color: $page-pink-color;
    }
  }

  @include onDesktop {
    line-height: 28px;
    font-size: 24px;
  }
}